@{
    ViewData["Title"] = "ResetPassword";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PizzaShop.styles.css" asp-append-version="true" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <div class="container-fluid d-flex p-0" id="login-page">
        <div class="row m-0 w-100">
          <section class="col-md-6 d-lg-flex p-0 login-img">
            <img
              src="~/images/dominos_background.jpg"
              alt="pizzashop_background"
              class="img-fluid"
              id="login-img"
            />
          </section>
          <section
            class="col-md-6 d-flex justify-content-center align-items-center bg-info-subtle"
            id="login-form-section"
          >
            <div class="col-md-9 justify-content-center">
              <div class="row mb-5">
                <div class="d-flex align-items-center justify-content-center p-0">
                  <img
                    src="~/images/logos/pizzashop_logo.png"
                    alt="pizzashop_logo"
                    id="pizzashop_logo"
                  />
                  <h1 class="text-primary">PIZZASHOP</h1>
                </div>
              </div>
              <div class="row d-flex justify-content-center align-items-center">
                <h5 class="text-center">Reset Your Password</h5>
                <form id="loginForm" method="post">
                  <div class="form-input-div my-3">
                    <input
                      type="password"
                      placeholder="New Password*"
                      class="form-control p-2 "
                      name="newPassword"
                      minlength="5"
                      required
                      id="PasswordReset1"
                    />
                    <span class="form-input-icon"
                      ><i class="fa-solid fa-eye" id="resetPassEyeBtn1" style="color: gray"></i>
                    </span>
                  </div>
                  <div class="form-input-div my-3">
                    <input
                      type="password"
                      placeholder="Confirm New Password*"
                      class="form-control p-2"
                      name="confirmPassword"
                      minlength="5"
                      required
                      id="PasswordReset2"
                    />
                    <span class="form-input-icon"
                      ><i class="fa-solid fa-eye" id="resetPassEyeBtn2" style="color: gray"></i>
                    </span>
                  </div>
                  <!-- <div class="d-flex justify-content-between">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Remember me
                          </label>
                        </div>
                      <span>
                          <a href="#">Forgot Password</a>
                      </span>
                  </div> -->
                  <div class="my-3">
                      <button class="btn btn-primary w-100" type="submit" >Submit</button>
                  </div>
                  <div class="text-center"><a href="/">Back to login</a></div>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>